# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-*

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep

# Ignore compiled assets.
/public/assets
/public/packs
/public/packs-test

# Ignore Byebug command history file.
.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore Node.js dependencies.
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore environment variable files.
.env
.env.*

# Ignore Mac-specific files.
.DS_Store

# Ignore Cloud9-specific files.
.c9/

# Ignore logfiles and tempfiles.
/*.log
/*.tmp
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
/.env
/vendor/*
