<% if current_user == @user %>
  <h1>My Page</h1>
<% else %>
  <h1>User Profile</h1>
<% end %>
<% if @user %>
  <% if current_user %>
    <div id="follow_id_<%= current_user.id %>">
      <%= render "my_page", user: @user %>
    </div>
  <% else %>
    <div id="follow_id_<%= @user.id %>">
      <%= render "my_page", user: @user %>
    </div>
  <% end %>
<% else %>
  <p>ユーザーが見つかりません。</p>
<% end %>