<h1>お問い合わせ完了（仮）</h1>

<div class="alert alert-success">
  <p>お問い合わせが正常に送信されました。</p>
</div>
<p>確認のため、ご入力いただいたメールアドレスに確認メールを送信いたしました。</p>
<p>ご返信には数日かかる場合がありますので、ご了承ください。</p>

<%= link_to 'トップページに戻る', root_path, class: 'btn btn-primary' %>