@use "~bootstrap/scss/bootstrap";
body {
  font-family: "Roboto", "Noto Sans JP", "M PLUS Rounded 1c", "kanit", "Helvetica Neue", "Helvetica", "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  color: #333333;
  background-color: #ffffff;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex: 1;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  padding: 20px 0;
}

.footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.5; /* リスト項目の行間を確保 */
}

.footer ul li a {
  color: #333;
  text-decoration: none;
  list-style: none;
  margin-bottom: 10px;
}

.footer a:hover {
  text-decoration: underline;
}

.footer h5 {
  font-size: 18px;
  margin-bottom: 15px;
}

.footer ul li a:hover {
  text-decoration: underline;
}

.footer .text-muted {
  font-size: 14px;
}

.footer i {
  margin-right: 8px;
  font-size: 20px;
}

.fa-instagram {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  background: -webkit-radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

.fa-tiktok {
  color: #111111;
  filter: drop-shadow(2px 0px 0px #fd3e3e) drop-shadow(-2px -2px 0px #4de8f4);
}

.fa-facebook {
  color: #3b5998;
}

#profile-preview {
  max-width: 100px;
  max-height: 100px;
  margin-top: 10px;
}

.favorite-link {
  text-decoration: none;
  font-size: 20px;
}

.favorite-link-danger {
  color: fuchsia;
}

.favorite-link-danger:hover,
.favorite-link-danger:focus {
  color: aqua;
  text-decoration: underline;
  text-decoration-color: aqua;
}

.favorite-link-primary {
  color: aqua;
}

.favorite-link-primary:hover,
.favorite-link-primary:focus {
  color: fuchsia;
  text-decoration: underline;
  text-decoration-color: fuchsia;
}

.user-profile {
  padding: 20px;
}

.profile-header {
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}

.profile-image {
  width: 150px;
  height: 150px;
}

.cafe-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
}

.follow-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin-bottom: 15px;
}

.sidebar {
  padding: 15px;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar-title {
  font-size: 1.25rem;
  margin-bottom: 15px;
}

.sidebar-form .form-group {
  margin-bottom: 15px;
}

.sidebar-form .form-control {
  border-radius: 4px;
}

.sidebar-form .btn {
  width: 100%;
}

.search-sidebar {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-sidebar h4 {
  margin-bottom: 15px;
}

.search-form .form-group {
  margin-bottom: 15px;
}

.search-form .form-check {
  margin-bottom: 10px;
}

.search-form .form-check-label {
  margin-left: 5px;
}

.search-sidebar .form-check {
  display: flex;
  flex-direction: column;
}

.search-sidebar .form-check-item {
  margin-bottom: 0.5rem; /* チェックボックス間のスペース調整 */
}

.search-sidebar .form-check-label {
  margin-left: 0.5rem; /* チェックボックスとラベルの間のスペース調整 */
  white-space: nowrap; /* テキストが折り返さないようにする */
}

.cafe-detail {
  .cafe-header {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 15px;
    margin-bottom: 20px;
  }

  .review {
    border: 1px solid #e0e0e0;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  .review-header {
    margin-bottom: 15px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .btn-primary {
    background-color: #007bff;
    border: none;
  }

  .btn-secondary {
    background-color: #6c757d;
    border: none;
  }

  .btn-danger {
    background-color: #dc3545;
    border: none;
  }
}

.image-preview-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.image-preview-item {
  position: relative;
  max-width: 200px; /* プレビューの幅を調整 */
  max-height: 200px; /* プレビューの高さを調整 */
}

.preview-image {
  width: 100%;
  height: auto;
  display: block;
}

.remove-image-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
}

.card-img-top {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dashboard {
  padding: 20px;
}

.dashboard-section {
  margin-bottom: 20px;
}

.dashboard-section h2 {
  font-size: 1.5em;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
}

.dashboard-section ul {
  list-style-type: none;
  padding: 0;
}

.dashboard-section ul li {
  margin-bottom: 10px;
}

.dashboard-section ul li a {
  text-decoration: none;
  color: #007bff;
}

.dashboard-section ul li a:hover {
  text-decoration: underline;
}

.status-select-wrapper {
  position: relative;
}

.status-select {
  font-weight: bold;
}

.status-select[data-status="active"] {
  background-color: lightgreen;
}

.status-select[data-status="inactive"] {
  background-color: lightyellow;
}

.status-select[data-status="suspended"] {
  background-color: lightcoral;
}

.status-select[data-status="unknown"] {
  background-color: lightgray;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar {
  font-family: "M PLUS Rounded 1c", "kanit", "Roboto", "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  color: #000000;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  font-weight: bold;
}

input,
textarea {
  margin-top: 0.5rem;
}

.alert {
  margin-top: 1rem;
}

.actions {
  margin-top: 1rem;
}

/*
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900
*/
.noto-sans-jp-400 {
  font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial",
    "Yu Gothic", "Meiryo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/*
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900
*/
.roboto-condensed-700 {
  font-family: "Roboto Condensed", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial",
    "Yu Gothic", "Meiryo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.kanit-regular {
  font-family: "Kanit", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial",
    "Yu Gothic", "Meiryo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kanit-medium {
  font-family: "Kanit", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial",
    "Yu Gothic", "Meiryo", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.kanit-bold {
  font-family: "Kanit", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial",
    "Yu Gothic", "Meiryo", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.m-plus-rounded-1c-regular {
  font-family: "M PLUS Rounded 1c", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial",
    "Yu Gothic", "Meiryo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.m-plus-rounded-1c-medium {
  font-family: "M PLUS Rounded 1c", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial",
    "Yu Gothic", "Meiryo", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.m-plus-rounded-1c-bold {
  font-family: "M PLUS Rounded 1c", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial",
    "Yu Gothic", "Meiryo", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.nec {
  background-color: red;
  color: white;
  font-weight: 500;
  margin-left: 20px;
  padding: 0px 4px 2px 4px;
}

.img-preview {
  max-width: 200px;
  max-height: 200px;
  margin: 10px;
}

.cafe-card {
  display: flex;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.cafe-card img {
  margin-right: 20px;
  border-radius: 5px;
}

.cafe-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cafe-details h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.cafe-details p {
  margin: 5px 0;
}

.cafe-details .features {
  margin-top: 10px;
}

.cafe-card button {
  margin-top: 10px;
}
